.param_slider {
    width: 23.9%;
    margin-right: 1%;
    display: inline-block;
}

.form-control {
    height: 35px;
}

.widget_panel {
    display: inline-block;
    width: 14.5%;
    vertical-align: top;
}

.svg_container {
    vertical-align: top;
    width: 35%;
    display: inline-block;
}

.svg_container img, .svg_container svg {
    width: 100%;
    max-width: 550px; /* remove */
    height: auto;
}

div.visual svg, div.visual img {
    max-width: 100%;
    height: auto;
}

.my-row .nohide .control-label {
    display: block;
}

input[type=radio] {
    position: absolute;
    margin-left: -20px;
}

/* taken from simplex.css */

.my-row {
    border: 1px solid #dedede;
    margin-top: 10px;
    border-radius: 4px;
    padding: 10px;
}

.my-row hr {
    border-color: #dedede;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -10px;
    margin-right: -10px;
}

hr {
    margin-top: 3px;
    margin-bottom: 3px;
    border: 0;
    border-top: 1px solid #DA230F;
}

/*.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.my-row {
    border: 1px solid #dedede;
    margin-top: 10px;
    border-radius: 4px;
    padding: 10px;
}

.my-row hr {
    border-color: #dedede;
    margin-bottom: 5px;
    margin-left: -10px;
    margin-right: -10px;
}

.btn {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #DA230F;
    display: inline-block;
    margin: 5px 0px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 2px 6px;
    font-size: 13px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled.focus, .btn-default[disabled].focus, fieldset[disabled] .btn-default.focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
    background-color: #474949;
    border-color: #474949;
}

.btn-default {
    color: #ffffff;
    background-color: #474949;
    border-color: #474949;
}

.btn-default, .btn-default:hover {
    background-image: -webkit-linear-gradient(#4f5151, #474949 6%, #3f4141);
    background-image: -o-linear-gradient(#4f5151, #474949 6%, #3f4141);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4f5151), color-stop(6%, #474949), to(#3f4141));
    background-image: linear-gradient(#4f5151, #474949 6%, #3f4141);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4f5151', endColorstr='#ff3f4141', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border: 1px solid #2e2f2f;
}
*/